<p>pokemon-game under construction!!</p>
<div class="__game-container">
    <div class="__game-container-env">
        <p>{{envMessage}}</p>
    </div>
    <div class="__game-container-battle">
        
    </div>
    <div class="__game-container-buttons">
        <button class='fas fa-arrow-up fa-lg' (click)="move()"></button>
        <div>
            <button class='fas fa-arrow-left fa-lg' (click)="move()"></button>
            <button class='fas fa-arrow-right fa-lg' (click)="move()"></button>
        </div>
        <button class='fas fa-arrow-down fa-lg' (click)="move()"></button>
    </div>
</div>