<div class="__nav-container">
    <div class="__nav-container-links">
        <a class="__nav-container-links-link" routerLink="/" routerLinkActive="active">pokemon party</a>
        <a class="__nav-container-links-link" routerLink="/pokemon-slot-machine" routerLinkActive="active">pokemon roulette</a>
        <a class="__nav-container-links-link" routerLink="/pokemon-game" routerLinkActive="active">pokemon game</a>
        <a class="__nav-container-links-link" routerLink="/pokemon-store" routerLinkActive="active">pokemon store</a>
    </div>
</div>