<div class="__slot-container">
    <div class="__slot-container-money">
        <div class="__slot-container-money-currency">money: {{money}}</div>
        <div class="__slot-container-money-currency">coins: {{coins}}</div>
        
    </div>
    <div class="__slot-container-buttons">
        <button class="__slot-container-money-button" (click)="moneyForCoins(25)">25 coins</button>
        <button class="__slot-container-money-button" (click)="moneyForCoins(50)">50 coins</button>
        <button class="__slot-container-money-button" (click)="moneyForCoins(100)">100 coins</button>
    </div>
    <div class="__slot-container-pokemon">
        <img class="pokemon-image" src="{{pokemon[0]}}" onerror="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/35.png'"  alt="alternative" />
        <img class="pokemon-image" src="{{pokemon[1]}}" onerror="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/35.png'"  alt="alternative" />
        <img class="pokemon-image" src="{{pokemon[2]}}" onerror="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/35.png'"  alt="alternative" />
    </div>
    <div class="__slot-container-roll">
        <button class="__slot-container-roll-button" (click)="roll()">roll</button>
    </div>
    <div class="__slot-container-results">
        <div class="__slot-container-results-num">{{result}}</div>
    </div>
</div>